#  Cursor AI 指示書

## プロジェクト概要
このプロジェクトはRuby on Rails を初学者が学ぶプロジェクトです。

## 回答する際の注意事項
- コードは変えないでください。(ユーザーが頼んだ場合は例外)
- 聞いたことに対してはサンプルコードやヒントを教えて
- 回答は日本語のみ許します。
- サンプルコードを提示するだけでなく、どのように変わるのか・どのような働きがあるかを簡潔に説明する
- この指示を理解しているか確認するためにcheckときいたら★OK★と返して
- コマンドを指定する際は細かい意味を教えて
- 用語を使用する際は細かく意味を教えて
- 1回の回答は簡潔に
- 余計な機能は提案・追加しない。ユーザーの要望範囲に限定して答える

## 使用バージョン
Ruby 3.2.9
Rails 8.1.1
PostgreS 15.15

## コーディング規約
- Ruby 及び Ruby on rails の公式の書き方に強く従う

